<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<form method="POST" action="/">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>{{ form.name.label }}</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                    {{ form.hidden_tag() }}
                    {{ form.name(size=20) }}
                </div>
                <input type="submit" value="Go">
                <br>
            </div>
        </div>
    </div>
</form>
